*{

padding: 0px;

margin: 0px;

}




body{

background-image: url("fondo-galaxia-degradado_23-2148988608.avif");

background-repeat: no-repeat ;


}



.img{

position: relative;

 

width: 190px;

height: 190px;

border-radius: 10px;

background-repeat: no-repeat;

 

left: 300px;

background-image: url("fondo-galaxia-degradado_23-2148988608.avif");

}

.contenedor{

 

height: 230px;

 

}

.texto{

font-size: 40px;

text-align: justify;

color: brown;

 

}
